<script>
export default {
  
  data() {
    return {
      id:0,
      count:4,
      correctAnswer: 0,
      wrongAnswer: 0,
      selectedAnswer: "",
      questions: [
        {question:"What is 11 x 11?",options:{a:"121",b:"111",c:"112",d:"123"},answer:"a"},
        {question:"What is 99 minus 35?",options:{a:"66",b:"64",c:"62",d:"68"},answer:"b"},
        {question:"What is the square root of 64?",options:{a:"64",b:"6",c:"8",d:"32"},answer:"c"},
        {question:"What is 33 x 7?",options:{a:"221",b:"231",c:"241",d:"251"},answer:"b"},
      ]
    }
  },
  methods: {
    answered(event) {
      this.selectedAnswer = event.target.value
      if (this.selectedAnswer == this.questions[this.id].answer) {
        this.correctAnswer++
      } else {
        this.wrongAnswer++
      }
    },
    nextQuestion() {
        this.id++
        this.selectedAnswer = ''
        document.querySelectorAll("input").forEach((el) => (el.checked = false));
    },
    showResult() {
      this.id++
    },
    restartQuiz() {
      this.selectedAnswer = ''
      this.id = 0
      this.wrongAnswer = 0
      this.correctAnswer = 0
    }


  },
}
</script>

<template>
  <div class="flex flex-col justify-center items-center w-full h-screen">
    <div class="w-2/5">
      <h1 class="text-4xl text-blue-400 font-bold text-center mb-5">Math Quiz</h1>
      <div class="bg-slate-200 p-14">
        <div v-if="id<count" class="flex flex-col gap-4">
          <p class="text-2xl font-semibold"> {{questions[id].question}} </p>
          <label 
          v-for="(option,index) in questions[id].options"
          :key="index" 
          :for="index"
          class="rounded-md px-5 py-3 bg-white"
          :class="{'hover:bg-blue-200 cursor-pointer':selectedAnswer==''}, {'bg-green-200': index == questions[id].answer && selectedAnswer != ''}, {'bg-red-300': selectedAnswer==index && index !=questions[id].answer}"
          >
            <input :disabled="selectedAnswer !=''" type="radio" :id="index" class="hidden" :value="index" @change="answered($event)"/>{{option}}
          </label>
          <button @click="nextQuestion" class="float-right p-3 bg-blue-300" v-show="selectedAnswer !== ''&& id<count-1">
            Next
          </button>
          <button 
          @click="showResult" 
          v-show="id == count-1 && selectedAnswer !=''" 
          class="p-3 bg-blue-300">
            Finish
          </button>
          

        </div>
        <div v-else class="flex flex-col gap-5 p-5">
          <h1 class="text-2xl font-bold">Test Completed</h1>
          <div class="">
            <p class="font-bold text-lg">Correct Answer: {{this.correctAnswer}}</p>
            <p class="font-bold text-lg">Wrong Answers: {{this.wrongAnswer}} </p>
          </div>
          <button @click="restartQuiz" class="bg-teal-400 p-3 w-40 rounded-md">
            Restart Quiz
          </button>
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</template>

<style>

</style>
